<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">Search for Restaurants</h4>
        <div class="input-group">
          <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="name or category..."
            aria-label="Restaurant Name..." value="" aria-describedby="search-button" />
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto text-center">
      Oops! Cannot find what you are looking for :(
    </div>
  </div>
</div>